{% extends "base.html" %}

{% block main %}
<h1>It's time to add a new category</h1>
<form class="dataForm" method="POST">
    <div class = "form-group">
        <div class="form-label">Category Name:</div>
        <div class="form-element"><input id="category_name" name="category_name" type="text" required
                                         MAXLENGTH="20"></div>
    </div>
    <div class="button-group">
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>
</form>
{% endblock %}
