{% extends "base.html" %}

{% block main %}
    <table>
        <h2>{{ specific_category[0][1] }}</h2>

        {% if logged_in %}
            {% if teacher_perm %}
                <h3><a href="/remove_category/{{ categories[0] }}">Remove category</a></h3>
            {% endif %}
        {% endif %}

        <tr>
            <th>Maori</th>
            <th>English</th>
            <th>Date added</th>
        </tr>
        <tbody>
            {% for content in contents %}
                <tr>
                    <td><a href="/word/{{ content[0] }}">{{ content[1] }}</a></td>
                    <td>{{ content[2] }}</td>
                    <td>{{ content[7] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    {% if teacher_perm %}
    <form class="dataForm" method="POST">
    <h2>Add a new word </h2>
        <div class = "form-group">
            <div class="form-label">Maori Word:</div>
            <div class="form-element"><input id="maori" name="maori" type="text" required></div>
        </div>
        <div class = "form-group">
            <div class="form-label">English Translation:</div>
            <div class="form-element"><input id="english" name="english" type="text" required></div>
        </div>
        <div class = "form-group">
            <div class="form-label">Level:</div>
            <div class="form-element"><input id="level" name="level" type="text" required></div>



            <!--    {% for i in range(10) %} -->
           <!--  <div class="form-element">
           <input value = "{{ i + 1 }}" name="level" type="radio" required><a>"{{ i + 1 }}" </a></div>-->
            <!-- {% endfor %} -->

        </div>
        <div class = "form-group">
            <div class="form-label">Definition:</div>
            <div class="form-element"><textarea id="definition" name="definition" type="text" required></textarea></div>
        </div>
        <div class="button-group">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
    {% endif %}



{% endblock %}

