{% extends "base.html" %}

{% block main %}
    <table>
        <h2>{{ specific_category[0][1] }}</h2>
        <tr>
            <th>Maori</th>
            <th>English</th>
            <th>Image</th>
        </tr>
        <tbody>
            {% for content in contents %}
                <tr>
                    <td><a href="/word/{{ content[0] }}">{{ content[1] }}</a></td>
                    <td>{{ content[2] }}</td>
                    <td><img src="/static/images/{{contents[0][6]}}"class=thumb></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form class="dataForm" method="POST">
    <h2>Add a new word </h2>
        <div class = "form-group">
            <div class="form-label">Maori Word:</div>
            <div class="form-element"><input id="maori" name="maori" type="text" required></div>
        </div>
        <div class = "form-group">
            <div class="form-label">English Translation:</div>
            <div class="form-element"><input id="english" name="english" type="text" required></div>
        </div>
        <div class = "form-group">
            <div class="form-label">Level:</div>
                {% for i range(10) %}
                    <div class="form-element"><input value = "{{ i + 1 }}" name="level" type="radio" required></div>
                {% endfor %}
        </div>
        <div class = "form-group">
            <div class="form-label">Definition:</div>
            <div class="form-element"><textarea id="definition" name="definition" type="text" required></textarea></div>
        </div>
        <div class="button-group">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
{% endblock %}

