{% extends 'base.html' %}



{% block heading %}
    {% if logged_in %}
        {% if teacher_perm %}
            The Best | Maōri - English | Dictionary
        {% endif %}
    {% else %}
    Zed's | Maōri - English | Dictionary
    {% endif %}
{% endblock %}

{% block main %}
    {% if logged_in %}
        <h1>Welcome</h1>
        <p>You are free to browse around and discover
            words that you are or aren't familiar with.</p>

        {% if teacher_perm %}
            <p>( ◑‿◑)ɔ┏🍟   🍔┑٩(^◡^ )</p>
        {% endif %}


    {% else %}
        <b>In order to use this amazing dictionary you need to log in using your account.</b>
        <p>____§§§§§_____§§§§§§§____§§§§§§</p>
        <p>§§§§§§§§§_________________§§§§§§c§§</p>
        <p>§§§§§§_______________________§§§§d§</p>
        <p>§§§§___________________________§§§§</p>
        <p>§§§_____________________________§§§</p>
        <p>_§§______________________________§§</p>
        <p>_§_________________________________§</p>
        <p>_§_______§§§____________§§§_________§</p>
        <p>§_______§___§__________§___§_________§</p>
        <p>§______§_§§__§_________§_§§_§________§</p>
        <p>§______§_§§§_§_________§_§§§_§_______§</p>
        <p>§______§_§§§_§__§§§§§__§_§§§_§_______§</p>
        <p>§_______§___§___§§§§§___§___§________§</p>
        <p>_§_______§§§_____§§§____§§§_________§</p>
        <p>_§_____________§__§__§____________§</p>
        <p>__§_____________§§_§§____________§</p>
        <p>___§§__________________________§§</p>
        <p>_____§§_______________________§§</p>
        <p>____§§§§§§§§§§§§§§§§§§§§§§§§§§§§§</p>
        <p>___§§___________________________§§</p>
        <p>__§§___________§§§§§§§___________§§</p>
        <p>_§§§___________§_____§___________§§§</p>
        <p>§§§§§__________§_____§__________§§§§§</p>
        <p>§§§§§_________§_____________§____§§§§§</p>
        <p>§§§§§_________§____________§____§§§§§</p>
        <p>_§§§§§§§§___________________§§§§§§§§</p>
        <p>__§§§§§§§___________________§§§§§§§</p>
        <p>__§§________§§_____________§§___§§</p>
        <p>__§§________§§_____________§§___§§</p>
        <p>__§§________§§_§§§§§§_§§________§§</p>
        <p>__§§§§§§§§________________§§§§§§§§</p>
        <p>___§§§§§____________________§§§§§</p>


        <img src="images/apple.jpg" alt="apple" width="100" height="100">
    {% endif %}

{% endblock %}

