{% extends "base.html" %}

{% block main %}

        <table>
            {% if logged_in %}
                {% if teacher_perm %}
                    <h1>Delete Confirmation</h1>
                    <p>Are you sure you want to delete the category
                        <strong>{{ categories_obtained[cat_id - 1][1] }}</strong>? -
                        <a href="/confirm_remove_category/{{ cat_id }}">Yes</a> /
                        <a href="/category/{{ cat_id }}">No</a></p>



                {% endif %}
            {% endif %}

            <tr>
                <th>Maori</th>
                <th>English</th>
                <th>Date added</th>
            </tr>
            <tbody>
                {% for content in contents %}
                    {% if content[3] == cat_id %}
                        <tr>
                            <td><a>{{ content[1] }}</a></td>
                            <td>{{ content[2] }}</td>
                            <td>{{ content[7] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
