{% extends "base.html" %}

{% block main %}

    {# A check has been put in place for every category within the category list (gotten from a query)  #}
    {#  e.g [(1, 'Actions'), (2, 'Animals'), (3, 'Clothing')  #}

    {# For every category, e.g. (1, 'Actions'), if the first thing ("1") is equal to the category id, that is currently
       being used/displayed then the remove category confirmation sentence is shown. #}

    {% for category in categories_obtained %}
        {% if category[0] == cat_id %}

            <table>
                {% if logged_in %}
                    {% if teacher_perm %}
                        <h1>Delete Confirmation</h1>
                        <p>Are you sure you want to delete the category
                            <strong>{{ category[1] }}</strong>? -
                            <a href="/confirm_remove_category/{{ cat_id }}">Yes</a> /
                            <a href="/category/{{ cat_id }}">No</a>
                        </p>
                    {% endif %}
                {% endif %}
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}
