{% extends "base.html" %}

{% block pageheading %}SIGNUP{% endblock %}

{% block main %}
    <h1>Sign Up</h1>
    <form class="dataForm" method="POST">
        <div class = "form-group">
            <div class="form-label">First name:</div>
            <div class="form-element"><input id="fname" name="fname" type="text" required
            MAXLENGTH="30"></div>
        </div>
        <div class = "form-group">
            <div class="form-label">Last name:</div>
            <div class="form-element"><input id="lname" name="lname" type="text" required
            MAXLENGTH="30"></div>
        </div>
        <div class = "form-group">
            <div class="form-label">Email:</div>
            <div class="form-element"><input id="email" name="email" type="email" required
            MAXLENGTH="30"></div>
        </div>
        <div class = "form-group">
            <div class="form-label">Password:</div>
            <div class="form-element"><input id="password" name="password" type="password" required></div>
        </div>
        <div class = "form-group">
            <div class="form-label">Confirm password:</div>
            <div class="form-element"><input id="password2" name="password2" type="password" required></div>
        </div>

        <div>
         <label class = "form-group">
            <label class="form-label">Are you a Teacher?</label>
             <select name ="teacher" id="teacher">
                 <option class="form-element" value=0>No</option>
                 <option class="form-element" value=1>Yes</option>
             </select>
            <br><br>
        </div>

        <div class="button-group">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
{% endblock %}
