{% extends "base.html" %}


{% block main %}
    # If cat id is == cat id or something like that.

    {% block heading %}<h2>{{word_content[0][1]}} ({{word_content[0][2]}}) </h2>{% end block %}
    <table>
        <tbody>
            <td>Definition: {{word_content[0][4]}} </td>
        </tbody>
        <tbody>
            <td>Level: {{word_content[0][5]}} </td>
        </tbody>
         <tbody>
            <td>Date Added: {{word_content[0][7]}} </td>
        </tbody>
        <tbody>
            <td>Edited by: {{word_content[0][8]}} </td>
        </tbody>
        <tbody>
            <td><img src="/static/images/{{word_content[0][6]}}" class=thumb</td>
        </tbody>
    </table>
{% end block %}

