{% extends "base.html" %}

{% block main %}
    {% for word_content in contents %}
        {% if word_content[0] == word_id %}
            <h1>{{word_content[1]}}</h1>
            {% if logged_in %}
                {% if teacher_perm %}
                    <h3><a href="/remove_word/{{ word_content[0]  }}">Remove word</a></h3>
                {% endif %}
            {% endif %}
            <table>
                <tbody>
                    <td>English: {{word_content[2]}} </td>
                </tbody>
                <tbody>
                    <td>Definition: {{word_content[4]}} </td>
                </tbody>
                <tbody>
                    <td>Level: {{word_content[5]}} </td>
                </tbody>
                 <tbody>
                    <td>Date added: {{word_content[7]}} </td>
                </tbody>

                {% for user in user_obtained %}
                    {% if user[2] == word_content[8] %}
                        <tbody>
                            <td>Added by: {{user_obtained[0][0]}} {{user_obtained[0][1]}}</td>
                        </tbody>
                    {% endif %}
                {% endfor %}

                <tbody>
                    <td><img src="/static/images/{{word_content[6]}}" class=thumb</td>
                </tbody>
            </table>
        {% endif %}
    {% endfor %}

    {% if teacher_perm %}
            <form class="dataForm" method="POST">
            <h2>Edit the word</h2>
                <div class = "form-group">
                    <div class="form-label">Maori Word:</div>
                    <div class="form-element"><input id="edit_maori" name="edit_maori" type="text" required
                    MAXLENGTH="30"></div>
                </div>
                <div class = "form-group">
                    <div class="form-label">English Translation:</div>
                    <div class="form-element"><input id="edit_english" name="edit_english" type="text" required
                    MAXLENGTH="30"></div>
                </div>

                {% for i in range(10) %}
                   <div class="form-element"><p>
                   <input type="radio"  name="level" id ="level" value = "{{ i + 1 }}" required><a>{{ i + 1 }}</a></div>
                    </p>
                {% endfor %}

                </div>
                <div class = "form-group">
                    <div class="form-label">Definition:</div>
                    <div class="form-element"><textarea id="edit_definition" name="edit_definition"
                                                        type="text" required></textarea></div>
                </div>
                <div class="button-group">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </div>
            </form>
    {% endif %}
{% endblock %}

